<title mat-dialog-title>{{ product.name | uppercase }}</title>
<mat-dialog-content>
  <form [formGroup]="groupForm" (ngSubmit)="onSubmit()" class="form-field">
    <!--Input Name-->
    <mat-form-field appErrorDirective>
      <mat-label>Nom :</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <!--Input First Name-->
    <mat-form-field appErrorDirective>
      <mat-label>Prénom :</mat-label>
      <input matInput type="text" formControlName="first_name" />
    </mat-form-field>

    <!--Input Email-->
    <mat-form-field appErrorDirective>
      <mat-label>Mail :</mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>

    <!--Checkbox Centre-->
    <mat-checkbox formControlName="centre"> Du Centre </mat-checkbox>
    <!--Checkbox Organisme-->
    <mat-checkbox formControlName="organisme"> De l'Organisme </mat-checkbox>
    <!--Checkbox Perenne-->
    <mat-checkbox formControlName="perenne"> Perenne </mat-checkbox>
    <!--Checkbox Occasionnel-->
    <mat-checkbox formControlName="occasionnel"> Occasionnel </mat-checkbox>

    <div class="buttonCollection">
      <button mat-raised-button color="primary" type="submit">
        Enregistrer
      </button>
      <button mat-dialog-close mat-raised-button color="primary">Retour</button>
    </div>
  </form>
</mat-dialog-content>
