.form-field {
  display: flex;
  flex-direction: column;
}
mat-form-field {
  margin-top: 6px;
}
mat-error {
  @media (max-width: 1000px) {
    font-size: small;
  }
  @media (max-width: 700px) {
    font-size: x-small;
  }
}
.buttonCollection {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
