<!-- If Screen Too Small -->
<mat-card *ngFor="let product of products" class="responsiveCard">
  <mat-card-content>
    <h2>{{ product.name }} {{ product.first_name }}</h2>
    EMAIL : {{ product.email }}<br />
    DU CENTRE : {{ product.centre | displayBoolean }}<br />
    DE L'ORGANISME : {{ product.organisme | displayBoolean }}<br />
    PERENNE : {{ product.perenne | displayBoolean }}<br />
    OCCASIONNEL : {{ product.occasionnel | displayBoolean }}<br />
    <div class="responsiveButtons">
      <button mat-raised-button color="accent" (click)="onEdit(product)">
        Modifier
      </button>
      <button mat-raised-button color="accent" (click)="onDelete(product)">
        Supprimer
      </button>
    </div>
  </mat-card-content>
</mat-card>
