<form [formGroup]="groupForm" (ngSubmit)="onSubmit()" class="form-field">
  <!--Input Name-->
  <mat-form-field appErrorDirective>
    <mat-label>Nom :</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>

  <!--Input First Name-->
  <mat-form-field appErrorDirective>
    <mat-label>Prénom :</mat-label>
    <input matInput type="text" formControlName="first_name" />
  </mat-form-field>

  <!--Input Mail-->
  <mat-form-field appErrorDirective>
    <mat-label>Email :</mat-label>
    <input matInput type="text" formControlName="email" />
  </mat-form-field>

  <!--Checkbox Centre-->
  <mat-checkbox formControlName="centre"> Du Centre </mat-checkbox>
  <!--Checkbox Organisme-->
  <mat-checkbox formControlName="organisme"> De l'Organisme </mat-checkbox>
  <!--Checkbox Perenne-->
  <mat-checkbox formControlName="perenne"> Perenne </mat-checkbox>
  <!--Checkbox Occasionnel-->
  <mat-checkbox formControlName="occasionnel"> Occasionnel </mat-checkbox>

  <button mat-raised-button color="primary" type="submit">Enregistrer</button>
</form>
