<div class="body flex row">
    <!--Carousel-->
    <mat-card class="w-1/2 p-4">
        <mat-card-title class="mb-4 text-2xl">{{ product.product.name |
            uppercase }}</mat-card-title>
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let image of product.images">
                <ng-template carouselSlide>
                    <img [src]="image.file" [alt]="image.alt" [title]="image.alt">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <p class="mb-2"><strong>Price:</strong> {{ product.product.price
                }}</p>
            <p class="mb-2"><strong>Description:</strong> {{
                product.product.description }}</p>
            <p class="mb-2"><strong>Stock:</strong> {{ product.product.stock
                }}</p>
            <p class="mb-2"><strong>Date Published:</strong> {{
                product.product.date_published | date }}</p>
            <p class="mb-2"><strong>Category:</strong> {{
                product.product.Category.libelle }}</p>
            <button mat-raised-button color="primary" (click)="addProductToCart()" *ngIf="isLogin">
                Add to Cart
            </button>
        </mat-card-content>
    </mat-card>
</div>

