<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/">
    <img
      src="https://imgs.search.brave.com/bfbFI1yL6HdoaswxquzidXh2F21wCBXfVASY3TZjOI4/rs:fit:987:200:1/g:ce/aHR0cHM6Ly93d3cu/YWRlb3MuZnIvd3At/Y29udGVudC91cGxv/YWRzLzIwMTkvMDkv/ZW5lZGlzLnBuZw"
      alt="Logo Enedis"
    />
  </a>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer mode="over" class="sidenav">
    <!--Menu de Selection-->
    <mat-accordion>
      <!--Products-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Products </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/product/list">Liste</a>
          <a mat-list-item routerLink="/product/add">Ajouter</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!--Sessions-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Sessions </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="link">
          <a mat-list-item routerLink="/session/list">Liste</a>
          <a mat-list-item routerLink="/session/add">Ajouter</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content></mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>
