.mat-toolbar {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}
.mat-drawer-container {
  visibility: hidden;
  position: fixed;
  top: var(--toolbar_height);
  left: 0;
  height: 90%;
  width: 100%;
}
.sidenav {
  min-width: 15%;
}

.mat-mdc-list-base {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.mat-expansion-panel-header {
  height: var(--toolbar_height);
}
img {
  width: auto;
  height: 70%;
}

.button-toolbar {
  border: none;
  height: 100%;
  width: 8rem;
  background: #3f51b5;
  color: white;
}
.button-toolbar:hover {
  filter: brightness(85%);
}
.logo {
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
}
.toolbar {
  display: flex;
}
.left {
  margin-left: auto;
  height: 100%;
}
