mat-cell {
  min-height: 70px;
}
mat-header-cell {
  text-align: center;
  justify-content: center;
  min-height: 110px;
  font-weight: bold;
}
//Products Infos
.mat-column-product {
  min-width: 60%;
}
.mat-column-name,
.mat-column-first_name,
.mat-column-email {
  min-width: 20%;
}
//Actions Column
.mat-column-empty {
  min-width: 20%;
}

.mat-column-action_edit,
.mat-column-action_delete {
  min-width: 10%;
}
//Booleans
.mat-column-centre,
.mat-column-organisme,
.mat-column-perenne,
.mat-column-occasionnel {
  min-width: 5%;
  justify-content: center;
}
.mat-column-interne,
.mat-column-externe {
  min-width: 10%;
}
.boolean {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
