.mat-column-occasionnel,
.mat-column-perenne,
.mat-column-organisme,
.mat-column-centre,
.mat-column-action_edit,
.mat-column-action_delete {
  max-width: 10%;
}
.mat-column-name,
.mat-column-first_name,
.mat-column-empty,
.mat-column-externe,
.mat-column-interne {
  max-width: 20%;
}
.mat-column-product {
  max-width: 40%;
}

mat-cell,
mat-header-cell {
  justify-content: center;
  height: 70px;
}
mat-header-cell {
  font-weight: bold;
}
